@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for block math */
mjx-container[jax="SVG"][display="true"] {
  display: flex !important;
  justify-content: center !important;
  margin: 2em 0 !important;
}

/* Styles for inline math */
mjx-container[jax="SVG"]:not([display="true"]) {
  display: inline-flex !important;
  vertical-align: -0.1em;
}

.bookPage ul {
  padding-left: 1rem;
  list-style-type: disc;
  color: black;
}